language: objective-c
osx_image: xcode9.0

env:
  - LC_CTYPE=en_US.UTF-8 LANG=en_US.UTF-8
before_install:
  - rvm install ruby-2.2.2
  - gem install cocoapods
  - gem install xcpretty -N
  - brew update
script:
  - xcodebuild -workspace Papr.xcworkspace -scheme Papr -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO | xcpretty -c
